/* Header Container */
header {
    background-color: #007bff;
    /* Primary header background */
    color: #fff;
    /* Text color */
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 1rem;

    /* Logo Styling */
    .logo {
        font-size: 1.5rem;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #fff;
    }


}